In [2]:
import pandas as pd
import numpy as np

In [5]:
# load the file
load_incident_data_2014_19 = "incident_data_for_charts.csv"

# read into a dataframe
incident_data_2014_19 = pd.read_csv(load_incident_data_2014_19)

In [10]:
# verify
incident_data_2014_19.head()

,event_date,year,month_number,season,num_incidents,num_injured,num_killed,num_injured_or_killed,days_since_prev_incident
0,1-Jan-14,2014,1,Winter,1,2,2,4,NaN
1,3-Jan-14,2014,1,Winter,1,3,1,4,2.0
2,5-Jan-14,2014,1,Winter,1,3,1,4,2.0
3,11-Jan-14,2014,1,Winter,1,4,0,4,6.0
4,12-Jan-14,2014,1,Winter,3,16,0,16,1.0

In [33]:
# create dataframe for chart 1, count of incidents per year
grp_incidents_by_year = pd.DataFrame(incident_data_2014_19, columns=["event_date", "year", "num_incidents", "month_number"])

# limit dataframe to years 2014-2018 for apples-to-apples comparison
get_2014_18_data = grp_incidents_by_year.loc[grp_incidents_by_year['year']!=2019]

# create dataframe for chart #1 that counts incidents by year but excludes 2019
incidents_by_year_1418 = get_2014_18_data.groupby("year")["num_incidents"].sum()
incidents_by_year_1418

year
2014    269
2015    335
2016    382
2017    346
2018    340
Name: num_incidents, dtype: int64

In [35]:
# create dataframe for 2014-2019 trend Jan-July
# limit dataframe to months Jan-July for apples-to-apples comparison
get_janjuly_data = grp_incidents_by_year.loc[grp_incidents_by_year['month_number'] <= 7]
get_janjuly_data

# create dataframe for chart #2 that counts incidents jan-july for 2014-2019
incidents_by_year_janjuly = get_janjuly_data.groupby("year")["num_incidents"].sum()
incidents_by_year_janjuly

year
2014    150
2015    195
2016    215
2017    213
2018    203
2019    244
Name: num_incidents, dtype: int64